@model IEnumerable<CCM_Website.Models.GraduateAttribute>

@{
    ViewData["Title"] = "Graduate Attributes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Admin" asp-action="Index">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">Graduate Attribute List</li>
    </ol>
</nav>

<div class="row">
    <div class="col"><h1>Graduate Attributes List</h1></div>
    <div class="col text-end"><button class="btn btn-primary" onclick="history.back();">Back</button></div>
</div>

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AttributeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AttributeName)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.AttributeId">Edit</a>
                <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.AttributeId">Details</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.AttributeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
