@model IEnumerable<CCM_Website.Models.Workbook>

@{
    ViewData["Title"] = "My Workbooks";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Workbooks</li>
    </ol>
</nav>


<div class="col"><a class="btn btn-success" asp-action="Create">Create New Workbook</a></div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseLead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PipReference)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseLead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PipReference)
            </td>
            <td>
                <a class="btn btn-secondary m-3" asp-action="Details" asp-route-id="@item.WorkbookId">View Workbook</a>
                <a class="btn btn-primary m-3" asp-action="Edit" asp-route-id="@item.WorkbookId">Edit Workbook</a>
            </td>
        </tr>
}
    </tbody>
</table>
