@model IEnumerable<CCM_Website.Models.Workbook>

@{
    ViewData["Title"] = "My Workbooks";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li><button class="btn btn-primary me-3" onclick="history.back();">Back</button></li>
        <div class="d-flex m-2">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Workbooks</li>
        </div>
    </ol>
    <hr/>
</nav>
<div class="d-flex justify-content-end">
    <a class="btn btn-success m-2" asp-action="Create">Create New Workbook</a>
</div>

<table class="table table-responsive">
    <thead>
    <tr>
        <th>
            Course Name
        </th>
        <th>
            Course Lead
        </th>
        <th>
            University Area
        </th>
        <th>
            Course Code
        </th>
        <th>
            Pip Reference
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseLead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UniversityArea.AreaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PipReference)
            </td>
            <td>
                <div class="d-flex gap-2">
                    <a class="btn btn-secondary flex-fill" asp-action="Details" asp-route-id="@item.WorkbookId">View Workbook</a>
                    <a class="btn btn-primary flex-fill" asp-action="Edit" asp-route-id="@item.WorkbookId">Edit Workbook</a>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>
@if (!Model.Any())
{
    <div>
        <p>No workbooks found</p>
    </div>  
}

