@model IEnumerable<CCM_Website.Models.Workbook>

@{
    ViewData["Title"] = "Course Content Mapping System";
    var myWorkbooks = ViewData["MyWorkbooks"] as List<CCM_Website.Models.Workbook>;
    var uofgWorkbooks = ViewData["UofgWorkbooks"] as List<CCM_Website.Models.Workbook>;
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
</nav>

<div class="container">
    <div class="row mb-4">
        <div class="col-12">
            <form asp-controller="Workbooks" asp-action="Search" method="post">
                <div class="input-group">
                    <input type="text" name="SearchPhrase" class="form-control" placeholder="Search Workbooks" />
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
    </div>

    <h2>My Workbooks</h2>
    <div class="row">
        @if (myWorkbooks!.Count == 0)
        {
            <p>No workbooks found.</p>
        }
        else
        {
            @foreach (var workbook in myWorkbooks)
            {
                <div class="col-md-3 mb-3">
                    <a href="@Url.Action("Details", "Workbooks", new { id = workbook.WorkbookId })" class="text-decoration-none text-dark">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">@workbook.CourseName</h5>
                                <p class="card-text">Last Edited: @workbook.LastEdited.ToShortDateString()</p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        }
    </div>

    <h2>UofG Workbooks</h2>
    <div class="row">
        @if (uofgWorkbooks!.Count == 0)
        {
            <p>No workbooks found.</p>
        }
        else
        {
            @foreach (var workbook in uofgWorkbooks)
            {
                <div class="col-md-3 mb-3">
                    <a href="@Url.Action("Details", "Workbooks", new { id = workbook.WorkbookId })" class="text-decoration-none text-dark">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">@workbook.CourseName</h5>
                                <p class="card-text">@workbook.CourseLead</p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        }
    </div>
</div>

