@model CCM_Website.Models.Workbook

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb d-flex justify-content-start">
        <li><button class="btn btn-primary me-3" onclick="history.back();">Back</button></li>
        <div class="d-flex m-2">
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Admin" asp-action="Index">Admin</a></li>
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Workbook" asp-action="Index">Workbook</a></li>
            <li class="breadcrumb-item active" aria-current="page">Details</li>
        </div>
    </ol>
    <hr/>
</nav>

<div class="row my-3 align-items-start">
    <div class="col-md-10"><h2>Workbook Details</h2></div>
</div>

<div>
    <h4>@Html.DisplayFor(model => model.CourseName)</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            Course Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt class="col-sm-2">
            Course Code
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseCode)
        </dd>
        <dt class="col-sm-2">
            Course Lead
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseLead)
        </dd>
        <dt class="col-sm-2">
            Learning Platform
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LearningPlatformId) <!-- Should be platform name however nothing was displayed --> 
        </dd>
        <dt class="col-sm-2">
           Course Length
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseLength)
        </dd>
        <dt class="col-sm-2">
            Last Edited
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastEdited)
        </dd>
    </dl>
</div>