@model IEnumerable<CCM_Website.Models.Workbook>

@{
    ViewData["Title"] = "Workbook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb d-flex justify-content-start">
        <li><button class="btn btn-primary me-3" onclick="history.back();">Back</button></li>
        <div class="d-flex m-2">
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Admin" asp-action="Index">Admin</a></li>
            <li class="breadcrumb-item active" aria-current="page">Workbook</li>
        </div>
    </ol>
    <hr/>
</nav>

<div class="row my-3 align-items-start">
    <div class="col-md-10">
        <h2>Workbooks</h2>
    </div>
    <div class="col-md-2 d-flex justify-content-center">
        <a class="btn btn-success"
           asp-action="Create">Create New Workbook
        </a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
               Course Name
            </th>
            <th>
                Course Lead
            </th>
            <th>
                Course Length
            </th>
            <th>
                Last Edited
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseLead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastEdited)
            </td>
            <td>
                
                <div class="d-flex flex-wrap justify-content-end gap-2">
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.WorkbookId">Edit</a>
                    <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.WorkbookId">Details</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.WorkbookId">Delete</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
