@model IEnumerable<CCM_Website.Models.LearningType>

@{
    ViewData["Title"] = "Learning Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb d-flex justify-content-start">
        <li><button class="btn btn-primary me-3" onclick="history.back();">Back</button></li>
        <div class="d-flex m-2">
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Admin" asp-action="Index">Admin</a></li>
            <li class="breadcrumb-item active" aria-current="page">Learning Type</li>
        </div>
    </ol>
    <hr/>
</nav>

<div class="row my-3 align-items-center">
    <div class="col-md-10">
        <h1>Learning Types</h1>
    </div>
    <div class="col-md-2 d-flex justify-content-center align-items-stretch">
        <a class="btn btn-success d-flex align-items-center justify-content-center"
           asp-action="Create">Create New Learning Type
        </a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LearningTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LearningTypeColour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LearningTypeTextColour)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LearningTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LearningTypeColour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LearningTypeTextColour)
            </td>
            <td>
                <div class="d-flex flex-wrap justify-content-end gap-2">
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.LearningTypeId">Edit</a>
                    <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.LearningTypeId">Details</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.LearningTypeId">Delete</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
