@model IEnumerable<CCM_Website.Models.Activities>

@{
    ViewData["Title"] = "Activities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">Activities</li>
    </ol>
</nav>

<div class="row">
    <div class="col"><h1>Index</h1></div>
    <div class="col text-end"><button class="btn btn-primary" onclick="history.back();">Back</button></div>
</div>



<p>
    <a class="btn btn-success" asp-area="Admin" asp-controller="Activities" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActivityName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityName)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.ActivityId">Edit</a>
                <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.ActivityId">Details</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ActivityId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
