@model IEnumerable<CCM_Website.Models.TaskApproach>

@{
    ViewData["Title"] = "Task Approach";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Admin" asp-action="Index">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">Task Approach</li>
    </ol>
</nav>

<div class="row">
    <div class="col"><h1>Task Approach</h1></div>
    <div class="col text-end"><button class="btn btn-primary" onclick="history.back();">Back</button></div>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApproachName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApproachName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ApproachId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ApproachId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ApproachId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
